<div class="card">
    <div class="card-header">
        <h5 class="card-title">{{this.title}}</h5>
    </div>
    <div class="card-body">
        <a class="btn btn-primary" href="/questionnaires/{{this._id}}">Show</a>
        <a class="btn btn-primary" href="/questionnaires/edit/{{this._id}}">Edit</a>
        <a class="btn btn-primary" href="/questionnaires/delete/{{this._id}}">Delete</a>
    </div>
</div>