<h5 class="q5">Question {{@index}}</h5>
<figure>
    <figcaption>Title</figcaption>
    <ul>
        <li>{{this.title}}</li>
    </ul>
</figure>
<figure>
    <figcaption>Max points</figcaption>
    <ul>
        <li>{{this.maxPoints}}</li>
    </ul>
</figure>
<figure>
    <figcaption>Options</figcaption>
    <ul>
        {{#each options}}
        {{>option}}
        {{/each}}
    </ul>
</figure>