<div id="game" class="container">
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card">
        <div class="card-header">
          <h3 id="title" class="text-center mb-3">{{game.title}}</h3>
        </div>
        <div class="card-body">
          {{>messages}}
          <div class="form-group">
            {{>questions}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>