<div>
    <div class="container">
        <div class="alert alert-success">
            Submission successful, you got {{points}} of {{maxPoints}} points!
        </div>
        <a class="btn btn-primary" href="/games">Back to games</a>
    </div>
</div>